input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px #2d2d3f inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #d6d8e1 !important;
}

.button-spacing {
  margin-right: 5px;
}

.page-message-success {
  background-color: #4c9c6c;
  color : #fbfbfb
}